<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" href="/">Dashboard</a>
  <a class="nav-link" href="/light-manager">Light Manager</a>
  <a class="nav-link" href="/door-manager">Door Manager</a>
  <a class="nav-link" href="/auth/user/logout">Logout</a>
</nav>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-notify" data-bs-toggle="modal" data-bs-target="#NotifyModal"
  style="display: none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="NotifyModal" tabindex="-1" aria-labelledby="NotifyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NotifyModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="NotifyModalContent">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>