<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <i class="fas fa-temperature-low fs-1 shadow p-3 mb-5 bg-body rounded-pill p-3"></i>
                </div>
                <div class="col-9">
                    <p>In door temperature</p>
                    <p>+25 °C</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <i class="fas fa-humidity fs-1 shadow p-3 mb-5 bg-body rounded-pill p-3"></i>
                </div>
                <div class="col-9">
                    <p>Humidity</p>
                    <p>30%</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <p>Light intensity</p>
            </div>
            <div class="row justify-content-center align-items-center mt-4">
                <div class="shadow p-3 mb-5 bg-body rounded-pill w-25 d-flex justify-content-center align-items-center">
                    <span class="">60%</span>
                </div>
            </div>
        </div>
    </div>
</div>