<link rel="stylesheet" href="/css/dashboard.css">
<h3 class="mt-4" style="margin-left: 100px;">
    {{type}}
</h3>
<div class="container mt-4">
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
            <div class="box-icon-reload">
                <i class="fas fa-redo icon-reload-api"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <i class="fas fa-temperature-low fs-1 shadow p-3 mb-5 bg-body rounded-pill p-3"></i>
                </div>
                <div class="col-9">
                    <p>Temperature</p>
                    <p class="temp-number"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <i class="fas fa-humidity fs-1 shadow p-3 mb-5 bg-body rounded-pill p-3"></i>
                </div>
                <div class="col-9">
                    <p>Humidity</p>
                    <p class="humi-number"></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <i class="fad fa-sun fs-1 shadow p-3 mb-5 bg-body rounded-pill p-3"></i>
                </div>
                <div class="col-9">
                    <p>Light intensity</p>
                    <p class="light-number"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <i class="fas fa-burn fs-1 shadow p-3 mb-5 bg-body rounded-pill p-3"></i>
                </div>
                <div class="col-9">
                    <p>Gas concentration</p>
                    <p class="gas-number"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center;">
    <svg width="600" height="400"></svg>
</div>

<script src="/js/dashboard.js"></script>