<link rel="stylesheet" href="/css/door.css">
<div class="container">
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
            <div class="box-icon-reload">
                <i class="fas fa-redo icon-reload-api"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Living room</h3>
        <div class="col-2">
            <div>
                <div class="icon-site icon-door"></div>
            </div>
            <div style="text-align: center; font-size: 18px; font-weight: 600">Door 1</div>
        </div>
        <div class="col-3">
            <span>Security mode:</span>
            <label class="switch">
                <input type="checkbox" id="smart-doorprivate-1">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>
<script src="/js/door.js"></script>