<link rel="stylesheet" href="/css/light.css">
<div class="container">
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
            <div class="box-icon-reload">
                <i class="fas fa-redo icon-reload-api"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Living room</h3>
        <div class="col-6">
            <div>
                <i class="fas fa-lightbulb icon-light light-off"></i>
                <label class="switch">
                    <input type="checkbox" id="smart-led-1">
                    <span class="slider round"></span>
                </label>
            </div>
            LED 1
        </div>
        <div class="col-6">
            <div>
                <i class="fas fa-lightbulb icon-light light-off"></i>
                <label class="switch">
                    <input type="checkbox" id="smart-led-2">
                    <span class="slider round"></span>
                </label>
            </div>
            LED 2
        </div>
    </div>
</div>

<script src="/js/light.js"></script>