<style>
    img.card-img-top {
        width: 286px;
        height: 186px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mt-4" style="width: 18rem;">
                <img src="https://anhdep.tv/attachments/be9bfdcc6d206d7d513b159cc5cafd16-jpeg.13849/"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Living room</h5>
                    <p class="card-text">We can see temperature, humidity, light intensity, gas concentration</p>
                    <a href="/dashboard?room=livingroom" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mt-4" style="width: 18rem;">
                <img src="https://banner2.cleanpng.com/20180309/utw/kisspng-kitchen-utensil-kitchen-cabinet-cooking-vector-kitchen-combined-5aa267fbea4ef0.7093660515205928919597.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kitchen</h5>
                    <p class="card-text">We can see temperature, humidity, light intensity, gas concentration</p>
                    <a href="/dashboard?room=kitchen" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mt-4" style="width: 18rem;">
                <img src="https://media.istockphoto.com/vectors/bedroom-with-double-bed-modern-interior-vector-banner-vector-id1278544187"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bedroom 1</h5>
                    <p class="card-text">We can see temperature, humidity, light intensity, gas concentration</p>
                    <a href="/dashboard?room=bedrom1" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mt-4" style="width: 18rem;">
                <img src="https://media.istockphoto.com/vectors/bedroom-with-double-bed-modern-interior-vector-banner-vector-id1278544187"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bedroom 2</h5>
                    <p class="card-text">We can see temperature, humidity, light intensity, gas concentration</p>
                    <a href="/dashboard?room=bedroom2" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>